<div>
  <h3>Name</h3>
  {{input value=model.name}}
  {{model.nameErrors}}
</div>
<div>
  <h3>Password</h3>
  {{input value=model.password}}
  {{model.passwordError}}
</div>
<div>
  <h3>Password Confirmation</h3>
  {{input value=model.passwordConfirmation}}
  {{model.passwordConfirmationError}}
</div>
<div>
  <h3>Model is valid? {{model.constraintsMet}}</h3>
</div>
